
#content {
  display:grid;
  grid-template-columns: 1fr;
}
header {
  background-color:#2A2A2A;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
a {
  padding:55px;
  display: table-cell;
  text-align: center;
  vertical-align: center;
  text-decoration:none;
  color:white;
  font-size:1.3em;
}
a:hover {
  /* background-color: #3EADE2; */
  background-color: #B46D16;
}
#subheader {
  background-color:#3B3B3B;
  display:grid;
  grid-template-columns: 1fr 1fr;
}
#subheader #left {
  padding:15px 15px;
  color:white;
}
#subheader #left p {
  margin-top: 0px;
  margin-bottom:0px;
}
#subheader #right {
  grid-column:3/4;
  padding:25px 15px;
}
#subheader #right button {
  background-color:#3EADE2;
}
